*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*barra de navegacion responsive*/

.menu{
	background-color: #591C21;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu .logo{
	font-family: 'Bungee Spice', cursive;
	font-size: 25px;
	font-weight: 900;
	margin-left: 80px;
	line-height: 70px;
	text-shadow: 3px 3px 3px black;
}
.menu ul{
	float: right;
	margin-right: 10px;

}
.menu ul li{
	display: inline-block;
	margin: 30px 15px ;
}
.menu ul li a{
	cursor: pointer;
	color: white;
	text-decoration: none;
	padding: 4px 3px;
	font-size: 19px;
	text-shadow: 2px 2px 2px black;
	font-family: 'Kanit', sans-serif;
}
.menu ul li a:hover{

	transition: 1000ms;
	color: orange;
}
.banner{
 	width: 100%;
 	position: relative;
 	height: 100vh;
 	background: url(imagenesss/pizza.jpg)
    	no-repeat center center/cover;

 }
 .text-banner{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
    padding: 20px;
    min-width: 40%;
    min-height: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5)
 }


.banner .text-banner p,
.banner .text-banner h1{
            margin: 0;
            text-align: center;
            color: white;
            cursor: pointer;
}
.banner .text-banner p{
	margin-top: 12px;
}
.banner .text-banner h1{
	text-shadow: 3px 3px 3px black;
	font-family: 'Rubik Dirt', cursive;
	color: orange;
	font-size: 28px;
}


/*¿quines somos?*/


.nosotros{
	text-align: center;
	margin: 40px 0px;
	padding: 10px 100px;
	
}
.titulo{
	letter-spacing: 1px;
	word-spacing: 3px;
	font-size: 33px;
	text-align: center;
	font-family: 'Bungee Spice', cursive;
	text-shadow: 4px 4px 4px black;
	cursor: default;
}
.linea{
	width: 450px;
	height: 6px;
	background-color: #00857A;
	margin: 10px auto;
	border-radius: 5px;
	margin-bottom: 30px;

}
.boton{
	background-color: #00857A;
	display: block;
	width: 200px;
	height: 40px;
	margin: 40px auto 0;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 15px;
	padding: 10px;
	font-weight: bolder;
	color: white;
	margin-bottom: 20px;
}
.boton:hover{
	background-color: #00453F;
	box-shadow: 5px 5px 5px gray;
}

.servicios{
	margin: 40px 70px;
}
.servicios h1{
	margin-bottom: 20px;
}

.servicios .contenido{

display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 20px;
}
.nosotros .contenido {
	cursor: pointer;
	font-size: 22px;

}

.imagen img{
	width: 90%;
	height: 250px;
	border-radius: 20px;
	margin: 0 auto;
	display: block;
	cursor: default;
}
.imagen img:hover{
	transform: translateY(-5px);

}
.imagen p {
	text-align: center;
	font-weight: bolder;
	margin: 20px 0;
	cursor: pointer;
}
.imagen .boton2{
	background-color: #00857A;
	width: 100px;
	padding: 5px;
	color: white;
	border-radius: 10px;
	text-align: center;
	margin: auto;
}
.imagen .boton2:hover{
	cursor: pointer;
	background-color: #00453F;
	box-shadow: 5px 5px 5px gray;
}



.foot{
	background-color: #591C21;
	padding: 30px 0px;

}
.cont-foot{
	display: flex;
	justify-content: center;
	align-items: center;
}
.cont-foot a{
	font-size: 30px;
	
	margin: 0px 25px;
	text-decoration: none;
	color: white;
}



/*Fin del la paghina Normal*/












/*responsive navegador*/


@media (max-width: 763px){

	.menu{
		
		position: relative;
	}
	.menu .logo{
		margin-left: 70px;
	}
	/*ocultar nav mientras no sepamos hacer el menu burger*/
	nav ul{
		
		float: none;
		width: 300px;
		padding: 0;
		position: fixed;
		top: 0;
		bottom: 0;

		background-color: black;

		margin: 0;
		padding-top: 60px;
		transition: 1s;
		left: 100%;
		
	} 

     .menu li {
      	display: block;
      	float: none;
      
      }
      .menu ul li a{
      	font-size: 18px;
      	padding: 10px 40px;
      }
      .menu ul li a:hover{
      	font-size: 18px;
      	padding: 10px 40px;
      	background-color: white;

      	/*si quiero que el texto del nav se prenda en conjunto con el background tienes que tenes un paddin en comun*/
      }

 /*fin responsive*/

 /*fin del navegador*/









 /*comienzo del banner*/



 .banner{
 	width: 100%;
 	position: relative;
 	height: 100vh;
 	background: url(imagenesss/pizza.jpg)
    	no-repeat center center/cover;

 }
 .text-banner{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
    padding: 20px;
    min-width: 40%;
    min-height: 20%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.20)
 }


.banner .text-banner p,
.banner .text-banner h1{
            margin: 0;
            text-align: center;
            color: white;
}
.banner .text-banner p{
	margin-top: 12px;
}
.banner .text-banner h1{
	text-shadow: 3px 3px 3px black;
	font-family: 'Rubik Dirt', cursive;
	color: orange;
	font-size: 28px;
}

}

/*fin del banner*/






@media ( max-width: 1000px){
	.servicios .contenido{
display: grid;
grid-template-columns: auto auto  ;
grid-gap: 20px;
}

}













@media (max-width: 510px){
	.servicios .contenido{
display: grid;
grid-template-columns: auto ;
grid-gap: 20px;
}

.nosotros  p{
	text-align: center;
	min-width: 220px;
	min-width: 220px;

}
.nosotros .titulo h1{
	text-align: center;
	font-size: 25px;


}
.nosotros .linea{
	text-align: center;
	height: 4px;
	width: 120px;
}





}  




